.pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pagination ul {

    display: flex;
    justify-content: space-between;
}

.pagination li:not(:first-child):not(:last-child) {
    display: none;
}